---
import Layout from "./Layout.astro";
import Links from "../components/Links.astro";
import { Image } from "astro:assets";

import jLogo from "../images/logo_j.svg";

const { frontmatter } = Astro.props;

function formatDate(dateString: string): string {
  const options: Intl.DateTimeFormatOptions = { year: 'numeric', month: 'long', day: 'numeric' };
  const date = new Date(dateString);
  const formattedDate = date.toLocaleDateString(undefined, options);

  const today = new Date();
  const differenceInTime = today.getTime() - date.getTime();
  const differenceInDays = Math.floor(differenceInTime / (1000 * 3600 * 24));

  let agoText = '';
  if (differenceInDays === 0) {
    agoText = '(today)';
  } else if (differenceInDays === 1) {
    agoText = '(1d ago)';
  } else {
    agoText = `(${differenceInDays}d ago)`;
  }

  return `${formattedDate} ${agoText}`;
}
---

<Layout title={frontmatter.title} description={frontmatter.description}>
	<div class="relative flex w-full">

    <!-- mobile logo (only visible on small screens) -->
    <div class="md:hidden absolute top-[2rem] left-1/2 transform -translate-x-1/2">
      <a href="/"><Image class="w-3" src={jLogo} alt="j logo" /></a>
    </div>

    <!-- nav -->
    <div class="hidden md:flex flex-shrink-0 w-24 flex-col space-y-[46px] items-center mx-20">
      <Image class="w-16" src={jLogo} alt="j logo" />
      <div class="flex flex-col items-end">
        <Links />
      </div>
    </div>

    <!-- main -->
    <div class="flex-grow px-6 md:pl-0 md:pr-8 mt-[5.1rem] mb-8">
      <div class="text-2xl">{ frontmatter.title }</div>
      <div class="text-sm font-light text-muted-foreground mb-[1.3rem]">{ formatDate(frontmatter.pubDate) }</div>
      <article class="prose dark:prose-invert prose-img:rounded-lg">
        <slot />
      </article>
    </div>
  </div>
</Layout>
